In [3]:
from bs4 import BeautifulSoup

import requests

import pandas as pd

import re

In [ ]:
# Crear un objeto BeautifulSoup
soup = BeautifulSoup(html_doc, 'html.parser')

In [5]:
url_coches = 'https://www.ocasionplus.com/coches-segunda-mano?v2&orderBy=morePopular'

In [6]:
res_coches = requests.get(url_coches)

In [7]:
print(res_coches.status_code)

200

In [10]:
dic_coches = {'coche': [], 'precio_rebajado': [], 'precio_original': [], 'km': []}

In [23]:
soup_coches = BeautifulSoup(res_coches.content, 'html.parser')

In [ ]:
print(soup_coches.prettify())

In [46]:
x = soup_coches.find_all('a', {'class': 'cardVehicle_link__l8xYT button'})

In [51]:
type(x[0])

bs4.element.Tag

In [ ]:
coches = ["Toyota Corolla 15000", "Honda Civic 18000", "Ford Focus 12000"] # Extraer solo los nombres (asumiendo que el precio está al final) nombres = [coche.rsplit(' ', 1)[0] for coche in coches] print(nombres) # Resultado: ['Toyota Corolla', 'Honda Civic', 'Ford Focus']

In [75]:
nombres = [i.getText().rsplit(' ', 1)[0] for i in x]

In [76]:
nombres

['Suzuki Swift1.3 GL (92 CV)4.900€2005100.910 KmGasolina92 CVMANUALMadrid -',
 '-2.981€Nissan X-TRAIL1.6 dCi N-Connecta (130 CV)19.800€16.819€desde294€/mes2018127.683 KmDiésel130 CVMANUALLibro de',
 '-1.654€Citroën BerlingoCombi BlueHDi 100 Talla M Feel (102 CV)18.200€16.546€desde272€/mes2019100.366 KmDiésel102 CVMANUALGranada - Santa',
 '-1.990€Renault TraficFurgon Furgon 29 L1H1 Energy Blue dCi (145 CV)21.900€19.910€desde310€/mes202065.942 KmDiésel145 CVMANUALÚnico propietarioLa',
 '-1.172€Renault Kangoo FurgónFurgon Profesional dCi (75 CV)9.900€8.728€desde141€/mes2020128.343 KmDiésel75',
 '-2.036€Mitsubishi ASX160 MPI Motion (117 CV)17.400€15.364€desde270€/mes201921.610 KmGasolina117 CVMANUALÚnico propietarioLibro de revisionesCádiz -',
 '-6.226€Jaguar F-Pace2.0L i4D R-Sport AWD Auto (240 CV)30.990€24.764€desde464€/mes2017139.456 KmDiésel240 CVAUTOLibro de revisionesValencia -',
 'Toyota Aygo70 x-play business (69 CV)12.900€desde309€/mes201530.479 KmGasolina69 CVAUTOBarcelona -',
 '-1.190€Mini MINI3 Puertas One D (95 CV)10.990€9.800€desde238€/mes2015135.506 KmDiésel95 CVMANUALLibro de revisionesToledo - Olías del',
 '-5.818€Audi Q3 SportbackS line 35 TFSI (150 CV) S tronic39.900€34.082€desde524€/mes202346.374 KmGasolina150',
 '-3.995€Volkswagen T-RocR-Line 1.5 TSI (150 CV) DSG29.900€25.905€desde401€/mes202339.247 KmGasolina150 CVAUTOÚnico propietarioLibro de revisionesBarcelona - Villafranca del',
 '-2.859€Volkswagen TaigoLife 1.0 TSI  (110 CV)19.550€16.691€desde261€/mes202333.305 KmGasolina110 CVMANUALPontevedra - Vigo Pol.',
 '-2.553€Volkswagen T-CrossAdvance 1.0 TSI (110 CV)19.790€17.237€desde270€/mes202338.071 KmGasolina110 CVMANUALÚnico propietarioPontevedra -',
 '-2.718€Volkswagen T-CrossAdvance 1.0 TSI (110 CV)19.900€17.182€desde269€/mes202330.920 KmGasolina110 CVMANUALMadrid - Colmenar',
 '-2.586€Seat LeónST 1.5 EcoTSI S&S Style Edition (130 CV)14.950€12.364€desde206€/mes201999.794 KmGasolina130 CVMANUALÚnico propietarioCiudad Real -',
 '-3.763€Seat LeónST 1.5 EcoTSI S&S Xcellence DSG (150 CV)16.900€13.137€desde218€/mes201986.051 KmGasolina150 CVAUTOCastellón -',
 '-4.490€Ford Fiesta1.0 EcoBoost MHEV ST-Line (125 CV)18.900€14.410€desde227€/mes202337.084 KmHíbrido125 CVMANUALCiudad Real -',
 '-3.209€Ford Fiesta1.0 EcoBoost MHEV ST-Line (125 CV)18.200€14.991€desde236€/mes202329.003 KmHíbrido125 CVMANUALCastellón -',
 '-6.413€Ford Kuga2.5 Duratec FHEV ST-Line Auto (190 CV)28.900€22.487€desde351€/mes202352.196 KmHíbrido190',
 '-5.986€Ford Kuga2.5 Duratec FHEV ST-Line Auto (190 CV)29.350€23.364€desde365€/mes202334.078 KmHíbrido190 CVAUTOCiudad']

In [73]:
for i in x:
    print(i.getText().split()[0].replace('€', ' '))

Suzuki
-2.981 Nissan
-1.654 Citroën
-1.990 Renault
-1.172 Renault
-2.036 Mitsubishi
-6.226 Jaguar
Toyota
-1.190 Mini
-5.818 Audi
-3.995 Volkswagen
-2.859 Volkswagen
-2.553 Volkswagen
-2.718 Volkswagen
-2.586 Seat
-3.763 Seat
-4.490 Ford
-3.209 Ford
-6.413 Ford
-5.986 Ford